@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
    --background: #000;
    --foreground: #000;
    --svg-bg: #333D79;
    --svg-bg-2: #333D79;
    --svg-stroke: #444E8A;
    --svg-stroke-2: #444E8A;
    --project-module-bg: #eee;
    --project-module-bg-2: #fff;
}

.page-bg {
    position: relative;
    min-height: 100vh;
    background: var(--background);
}

.page-pattern {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

main {
    position: relative;
    z-index: 1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
    color: var(--foreground);
    font-family: Arial, Helvetica, "Roboto Light", sans-serif;
}